@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    color: #004AAD;
    justify-content: space-between;
}

.header__logo {
    height: 80px;
    width: 240px;
    object-fit: cover;
    object-position: 50% 47%;
}

.header__title {
    margin: 45px 0 0;
    font-size: 2.2vw;
}

.header__navbar__list {
    list-style: none;
    padding-inline-start: 0;
    text-align: right;
    margin: 0.4em;
}

.header__navbar__list-item {
    margin-top: 0.3em;
}

.header__navbar__list-item:first-child>a {
    background-color: #004AAD;
    color: #ffffff;
    border-radius: 15px;
    padding: 0.1em 0.6em;
    font-weight: 500;
    text-decoration: none;
}

.header__navbar__list-item:last-child>a {
    color: #004AAD;
    text-decoration: none;
}

main {
    background: linear-gradient(#D1D4F0 75%, #ffffff 25%);
    color: #0036AD;
}

.main__top-section {
    display: flex;
    justify-content: space-between;
}

.main__top-section__text {
    margin: 1em;
}

.main__top-section__paragraph {
    font-size: 2vw;
}

.main__top-section__paragraph:nth-of-type(5),
.main__top-section__paragraph:last-of-type {
    font-size: 1.7vw;
}

.main__top-section__image,
.main__bottom-section__image {
    width: 45vw;
    object-fit: cover;
    margin: 1em;
    border-radius: 5px;
}

.main__mid-section {
    display: flex;
    justify-content: space-around;
}

.main__mid-section__curriculum {
    margin-left: 1em;
}

.main__mid-section__header {
    font-weight: 400;
    text-decoration: underline;
    font-size: 1.9vw;
}

.main__mid-section__topic {
    font-size: 1.8vw;
}

.main__mid-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 5em;
    margin-right: 1em;
}

.main__mid-section__grid>h2 {
    grid-column: span 2;
}

.main__mid-section__testimonial {
    font-size: 1.6vw;
    max-width: 15vw;
}

.main__mid-section__image {
    width: 35vw;
    object-fit: cover;
    margin: 1em;
    border-radius: 5px;
}

.main__bottom-section {
    display: flex;
}

.main__bottom-section__grid {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    column-gap: 3em;
    text-align: center;
    margin: 0 auto;
    max-height: 415px;
}

.main__bottom-section__grid>hgroup {
    grid-column: span 2;
}

.main__bottom-section__header {
    font-size: 2.1vw;
}

.main__bottom-section__text {
    font-size: 1.5vw;
}

.main__bottom-section__form {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

.main__bottom-section__label {
    align-self: flex-start;
    font-size: 1.4vw;
}

.main__bottom-section__input {
    padding: 0.5em;
    margin-bottom: 0.9em;
    border-radius: 15px;
    border: 1px solid #004AAD;
    font-size: 1.2vw;
    color: #0036AD;
}

.main__bottom-section__submit {
    padding: 0.5em;
    background-color: #0036AD;
    color: #ffffff;
    border-radius: 15px;
    border-style: none;
    font: 500 1.3vw 'Jost', sans-serif;
}

.main__bottom-section__submit:hover {
    cursor: pointer;
}

[alt="Trustpilot reviews"] {
    width: 20vw;    
}

[alt="Google reviews"] {
    width: 25vw;
}

.main__bottom-section__reviews {
    margin: auto;
}

footer {
    background-color: #004AAD;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    flex-grow: 1;
}

.footer__links {
    list-style: none;
    margin: 0 1em;
    padding: 1em;
}

.footer__links a {
    color: #ffffff;
    text-decoration: none;
}

.footer__logo {
    height: 150px;
}

.footer__socials {
    margin-right: 1em;
}

.footer__social-link {
    text-decoration: none;
}